train_set:
  module: torchvision.datasets
  name: ImageFolder
  params:
    root: data/CUB_200_2011/dataset/train_full
    transform: # Transform 1 in PIPNet
      resize:
        type: Resize
        params:
          size: [ 232, 232 ]
      augment:
        module: cabrnet.core.utils.custom_preprocess
        type: TrivialAugmentWideShapeOnly
      h_flip:
        type: RandomHorizontalFlip
      crop:
        type: RandomResizedCrop
        params:
          size: 228
          scale: [ 0.95, 1.0 ]
      splitter:
        module: cabrnet.core.utils.custom_preprocess
        type: AugmentationSplitter
        params:
          num_samples: 2
          transform:
            type: Compose # Transform 2
            transforms:
              - module: cabrnet.core.utils.custom_preprocess
                type: TrivialAugmentWideNoShape
              - type: RandomCrop
                params:
                  size: [ 224, 224 ]
              - type: ToTensor
              - type: Normalize
                params:
                  mean: [ 0.485, 0.456, 0.406 ]
                  std: [ 0.229, 0.224, 0.225 ]

  num_workers: 1
  batch_size: 64
  collate_fn: concat_collate
  shuffle: True
  drop_last: True

pretrain_set:
  module: torchvision.datasets
  name: ImageFolder
  params:
    root: data/CUB_200_2011/dataset/train_full
    transform: # Transform 1b
      resize:
        type: Resize
        params:
          size: [ 256, 256 ]
      augment:
        module: cabrnet.core.utils.custom_preprocess
        type: TrivialAugmentWideShapeOnly
      h_flip:
        type: RandomHorizontalFlip
      crop:
        type: RandomResizedCrop
        params:
          size: 228
          scale: [ 0.95, 1.0 ]
      splitter:
        module: cabrnet.core.utils.custom_preprocess
        type: AugmentationSplitter
        params:
          num_samples: 2
          transform:
            type: Compose # Transform 2
            transforms:
              - module: cabrnet.core.utils.custom_preprocess
                type: TrivialAugmentWideNoShape
              - type: RandomCrop
                params:
                  size: [ 224, 224 ]
              - type: ToTensor
              - type: Normalize
                params:
                  mean: [ 0.485, 0.456, 0.406 ]
                  std: [ 0.229, 0.224, 0.225 ]

  num_workers: 1
  batch_size: 128
  collate_fn: concat_collate
  shuffle: True
  drop_last: True

projection_set:
  module: torchvision.datasets
  name: ImageFolder
  params:
    root: data/CUB_200_2011/dataset/train_full
    transform:
      resize:
        type: Resize
        params:
          size: [ 224, 224 ]
      to_tensor:
        type: ToTensor
      normalize:
        type: Normalize
        params:
          mean: [ 0.485, 0.456, 0.406 ]
          std: [ 0.229, 0.224, 0.225 ]
  num_workers: 1
  batch_size: 32
  shuffle: False

test_set:
  module: torchvision.datasets
  name: ImageFolder
  params:
    root: data/CUB_200_2011/dataset/test_full
    transform:
      resize:
        type: Resize
        params:
          size: [ 224, 224 ]
      to_tensor:
        type: ToTensor
      normalize:
        type: Normalize
        params:
          mean: [ 0.485, 0.456, 0.406 ]
          std: [ 0.229, 0.224, 0.225 ]
  num_workers: 1
  batch_size: 32
  shuffle: False