.venv
venv
__pycache__
data
runs
.vscode
.idea
*.egg-info/
build/
dist/
examples/
tests/compatibility/prototree/
tests/compatibility/protopnet/
tests/compatibility/cabrnet_legacy_models.zip
tests/compatibility/md5sums.txt
pretrained_models/
*.vim
logs*
*.pth
*.ckpt
docs/API/reference/
website
*.log
trained_models/
result/
