.venv
venv
__pycache__
data
runs
.vscode
.idea
*.egg-info/
build/
dist/
examples/
src/legacy/prototree
src/legacy/protopnet
pretrained_models/
*.vim
logs/
*.pth
*.ckpt
docs/API/reference/
website
*.log
