local_perturbation_analysis:
  info_db: local_perturbation_analysis.csv # Path to CSV file containing raw analysis per test image
  global_stats: global_stats.csv # Path to CSV file containing general global stats
  enable_dual_mode: True # If True, compute sensitivity test on dual perturbation
  distribution_img: local_perturbation_analysis.png # Path to output image showing distribution of max similarity drops
  quiet: True # If True, does not show the distribution image
  debug_mode: False # If True, saves perturbations (used for debugging purposes)
  num_prototypes: 10 # Maximum number of relevant prototypes to analyze per test image
  # Perturbation parameters
  brightness_factor: 0.3 # A value of 0.3 means brightness is (locally) reduced by 70%
  contrast_factor: 0.2 # A value of 0.3 means contrast is (locally) reduced by 70%
  saturation_factor: 0.3 # A value of 0.3 means saturation is (locally) reduced by 70%
  hue_factor: 0.2 # A value of 0.2 means a (local) shift of 20% on the hue scale
  gaussian_blur_ksize: 21 # Size of the kernel to apply gaussian blur
  gaussian_blur_sigma: 2.0 # Standard deviation of the gaussian blur
  distortion_periods: 5 # Controls the frequency of the (local) sinus distortion
  distortion_amplitude: 7 # Controls the amplitude of the (local) sinus distortion
  distortion_direction: both # Controls the direction of the (local) sinus distortion

relevance_analysis:
  prototype_info_db: prototype_info_db.csv # Path to CSV file containing raw analysis per prototype
  patch_info_db: patch_info_db.csv # Path to CSV file containing raw analysis per test image
  area_percentage: 0.1 # Percentage of image area to keep when using a threshold during the pointing game
  debug_mode: False # If True, saves debug images
  num_prototypes: 10 # Maximum number of relevant prototypes to analyze per test image
